[submodule "VRWorldToolkit"]
	path = VRWorldToolkit
	url = https://github.com/oneVR/VRWorldToolkit.git
	ignore = dirty
[submodule "VRCHierarchyHighlighter"]
	path = VRCHierarchyHighlighter
	url = https://github.com/esnya/VRCHierarchyHighlighter.git
	ignore = untracked
[submodule "UdonSharp"]
	path = UdonSharp
	url = https://github.com/MerlinVR/UdonSharp.git
	ignore = dirty
[submodule "GotoUdon"]
	path = Disabled~/GotoUdon
	url = https://github.com/GotoFinal/GotoUdon.git
	ignore = untracked
[submodule "InariUdon"]
	path = InariUdon
	url = https://github.com/esnya/InariUdon.git
[submodule "EsnyaUnityTools"]
	path = EsnyaUnityTools
	url = https://github.com/esnya/EsnyaUnityTools.git
[submodule "uRaymarching"]
	path = uRaymarching
	url = https://github.com/hecomi/uRaymarching.git
	ignore = dirty
[submodule "TerrainGrassShader"]
	path = TerrainGrassShader
	url = https://github.com/Acrosicious/TerrainGrassShader.git
[submodule "Editor/Unity-Resource-Checker"]
	path = Editor/Unity-Resource-Checker
	url = https://github.com/handcircus/Unity-Resource-Checker.git
	ignore = untracked

[submodule "USharpVideo"]
	path = USharpVideo
	url = https://github.com/MerlinVR/USharpVideo.git
	ignore = dirty
[submodule "MissingScriptsFinder"]
	path = MissingScriptsFinder
	url = https://github.com/plyoung/MissingScriptsFinder.git
	ignore = dirty
[submodule "VRC-Bakery-Adapter"]
	path = VRC-Bakery-Adapter
	url = https://github.com/MerlinVR/VRC-Bakery-Adapter.git
	ignore = untracked
